/* #region common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root
{
    --tobo-white: white;
    --tobo-blue: #4CAEE7;
    --tobo-violet: #9B86EA;
    --tobo-primarygreen: #63B88D;
    --tobo-orange: #FA980D;
    --tobo-fucsia: #EF41AE;
    --tobo-secondarygreen: #89CC2D;
    --tobo-darkblue: #000044;
    --tobo-grey: #8C8D90;
    --tobo-red: red;
    -tobo-green: green;
}
/* #endregion common */

/* #region utility */
/* #endregion utility */

/* #region header */

header
{
    width:100%;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:10px;
    /* potevo mettere solo padding:10px;
       preferisco nel caso poi voglio allargare o stringere solo una parte */
    background-color: var(--tobo-white);
    margin-bottom: 40px;
}

#logo_text
{
    font-size: 38px;
    font-weight: 900;
    vertical-align: middle;
}

#logo
{
    height: 100%;
    vertical-align: middle;
}
/* #endregion header */

/* #region main */

main
{
    width: 60%;
    margin: auto;
}

.button_task
{
    display: inline-block;
    padding: 5px;
    background-color: var(--tobo-blue);
    color: var(--tobo-white);
}

.button_section
{
    display: inline-block;
    padding: 5px;
    background-color: var(--tobo-white);
    color: var(--tobo-grey);

}

/* #endregion main */
